* {
    margin: 0;
    padding: 0;
    font-family: "Kaushan Script", sans-serif;
}

h1 {
    font-size: clamp(2.5em, 5.5vw, 4.5em);
}

h2 {
    font-size: clamp(1em, 2.5vw, 3.5em)
}

.massachusetts-font {
    font-family: "Lobster";
    color: red;
}

.intro {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-top: 15%;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0;
    justify-content: center;
    background-color: rgb(255, 54, 54);
    z-index: 1;
    opacity: 0.8;
}

ul {
    position: relative;
    left: 30.5%;
    width: 50%;
}

nav ul li {
    display: inline-block;
    margin:  0.25em 1em;
    font-size: clamp(0.75em, 1.5vw, 1.5em);
}

nav div {
    position: relative;
    left: clamp(-21.5em, -21.5vw, 0em);
}

nav div img {
    background-color: white;
    height: 4em;
}

.main-image {
    display: inline;
    position: relative;
    left: 15%;
    top: 2.25em;
}

.main-image img {
    width: 20%;
}

main {
    position: relative;
    top: 5em;
}

main p {
    font-size: 2.5em;
}